
/***********botão social media************/

.wrapper {
  display: flex;
  list-style: none;
  height: 25px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #f21d1d;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}
.botao_social_media {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 15px;
}

@media (max-width: 768px){
  .nav-bar{
    display: none;
  }
  /*BOTÃO MENU HAMBURGUER*/
  body{
    width: 100%;
    height: 50vh;
    margin: 0;
  }
  
  /* Botão Hamburger */
  .hamburger {
    top: 15px;
    z-index: 2;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  .hamburger svg {
    height: 3em;
    transition: transform 0.3s ease;
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 0.3s ease, stroke-dashoffset 0.3s ease;
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger.rotate svg {
    transform: rotate(-45deg);
  }
  
  .hamburger.rotate .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  
  /* Menu Container */
  .menu-container {
    display: none; /* Começa oculto */
    position: absolute;
    top: -6.5em; /* Ajuste a posição para alinhar com o botão */
    left: 50%; /* Centraliza o contêiner do menu */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    overflow: hidden; /* Oculta o conteúdo que transborda */
    border-radius: 50%; /* Faz o contêiner do menu ser redondo */
    transition: width 0.3s ease, height 0.3s ease; /* Suaviza a transição de tamanho */
  }
  
  .menu {
    background-color: #333;
    padding: 5em;
    border-radius: 8px; /* Ajusta os cantos do menu */
    opacity: 0; /* Invisível inicialmente */
    transition: opacity 0.3s ease; /* Suaviza a transição */
    
  }
  
  .menu ul {
    display: flex;
    list-style-type: none;
    padding: 80px;
    margin: 0;
    flex-direction: column;
    align-items: center;
}
  
.menu li {
  width: 55%;
  margin: -2.6em 300px;
}
  .menu a {
    color: white;
    text-decoration: none;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  
  /* Classe para exibir o menu */
  .menu-container.show {
    display: block; /* Exibe o menu */
    width: 100vw; /* Define a largura do círculo */
    height: 200px; /* Define a altura do círculo */
    opacity: 1; /* Torna visível */
  }
  
  .menu-container.show .menu {
    opacity: 1; /* Torna visível o menu */
  }
  
  /* Animação de círculo */
  .menu-container.show {
    animation: expand-circle 0.5s forwards; /* Chama a animação de expansão */
  }
  
  @keyframes expand-circle {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
    }
    100% {

      width: 200vw; /* Tamanho final do círculo */
      height: 200vw; /* Tamanho final do círculo */
      opacity: 0.9; /* Torna o menu visível */
      transform: translateX(-50%);
    }
  }
  /* BOTÃO PARA MAIS OPÇÕES*/
  /* Estilo da seta */
.arrow {
  display: inline-block;
  margin-left: 150px;
  transition: transform 0.3s ease;
}

/* Gira a seta quando o submenu está aberto */
.arrow.rotate {
  transform: rotate(-180deg);
 
}

/* Estilos para o Submenu Lateral */
.submenu-lateral {
  position: fixed;
  top: 130px;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #333;
  padding-top: 4em;
  transition: right 0.4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submenu-lateral a, .back-button {
  width: 32%;
  color: #ddd;
  padding: 0em;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

.submenu-lateral a:hover, .back-button:hover {
  background-color: #444;
  color: #fff;
}

/* Mostra o submenu ao aplicar a classe 'show' */
.submenu-lateral.show {
  right: 0; /* Move o menu para dentro da tela */
  width: 100%;
}

/* Estilo do botão de voltar */
.back-button {
  font-size: 1em;
  color: #ddd;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}
/* Oculta o submenu com uma animação suave */
.submenu-lateral.hide {
  right: -250px; /* Desliza para fora da tela */
  transition: right 0.4s ease; /* Transição suave ao fechar */
}

  
/* Responsividade para notebooks */
@media (min-width: 768px) and (max-width: 1199px) {
  .menu {
    font-size: 10px;
    line-height: 1.6;
    color: #ffffff;
    width: fit-content;
    display: flex;
    list-style: none;
  }
  a {
    font-size: 10px;
  }
  .login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 10px;
  }
}
/* Responsividade para monitores maiores */
@media (min-width: 1200px) {
  .menu {
    font-size: 15px;
    line-height: 1.6;
    color: #ffffff;
    width: fit-content;
    display: flex;
    list-style: none;
  }
  a {
    font-size: 15px;
  }
  .login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
  }
}
}
