@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700; /* Para um peso mais grosso */
    font-style: normal;
}

.montserrat-extra-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 900; /* Para o peso máximo */
    font-style: normal;
}