body {
  width: 100vw; /* largura da viewport */
  height: 138vh; /* altura da viewport */
  background-color: #333;
}

.head_page_inicial {
  background-color: rgba(0, 255, 255, 0);
  background-image: url(../image/igrejas.png);
  background-position: center;
  background-size: cover, contain;
  background-repeat: no-repeat;
  height: 60%;
  width: 100vw;
}
.mapa_church {
  width: 100%;
  height: 300vh;
}
@media screen and (max-width: 768px) {
  body {
    height: 138vh;
  }
  .mapa_church {
    width: 100%;
    height: 300vh;
  }
}
@media (max-width: 1366px) {
  body {
    width: 100vw;
    height: 138vh;
    background-color: #333;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin: 0 auto;
  }
}
@media (max-width: 1600px) {
  body {
    width: 100vw;
    height: 138vh;
    background-color: #333;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin: 0 auto;
  }
}
