body{
    background-color: #1a2330;    
    margin: 0;
    height: 580vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
/******espaçamento*******/
.espaçamento_01{
    width: 100%;
    height: 30px;
}
/******header*******/
a{
    text-decoration: none;
    color: black;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 45px;
    list-style-type: none;
    padding: 0;
}
header{
    background-color: aliceblue;
    margin: 0;
    border-radius: 30px;
    height: 50px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.head_page_inicial{
    background-color: aqua;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
/******follow*******/
.follow_us{
    background-image: url(../image/siga.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 20px;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;

}
/******versiculo*******/
.versicle_bible{
    background-image: url(../image/versiculo_site.png);
    width: 100%;
    height: 800px;
    background-size: 100%;
    background-repeat: no-repeat;
}
/******foto evento paralax*******/
.pic_church_event{
    background-color: rgb(255, 58, 9);
    width: 100%;
    height: 700px;
    background-image: url(../image/FOTO_SITE.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
/******localização igrejas*******/
.church_loc {
    background-color: rgb(157, 255, 0);
    max-width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bloco_igreja_01 {
    background-color: aliceblue;
    height: 80px;
    width: 200px;
    font-size: 20px;
}

.campinas_church {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divisão_igrejas_01 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap; 
    justify-content: center; 
}
