body {
  height: 138vh;
}

.head_page_inicial {
  background-color: rgba(0, 255, 255, 0);
  background-image: url(../image/igrejas.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 650px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.mapa_church{
  width: 100%;
  height: 300vh;
}

