body {
  width: 100vw; /* largura da viewport */
  height: 145vh; /* altura da viewport */
  background-color: #0d1e2d;
}

.head_page_inicial {
  background-color: rgba(0, 255, 255, 0);
  background-image: url(../image/igrejas.png);
  background-position: center;
  background-size: cover, contain;
  background-repeat: no-repeat;
  height: 60%;
  width: 100vw;
}
#mapa_church {
  width: 100%;
}
